.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 68px;
  font-weight: 900;
  text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 3rem;
  }
  .title {
    font-size: 34px;
  }
}
